<h3>{{ _('Client\'s information') }}</h3>
<table class="table table-striped">
    <tr>
        <td>{{ clientform.autocomp.label }}</td>
        <td>{{ clientform.autocomp }}</td>
    </tr>
    <tr>
        <td>{{ _('Representative\'s name') }}</td>
        <td id="repr_name"></td>
    </tr>
    <tr>
        <td>{{ _('Phone') }}</td>
        <td id="client_phone"></td>
    </tr>
    <tr>
        <td>{{ _('Email') }}</td>
        <td id="client_email"></td>
    </tr>
    <span id="client_id" hidden></span>
</table>